package db

import (
	"database/sql"
	"log"

	_ "github.com/mattn/go-sqlite3"
)

var DB *sql.DB

func Connect() {
	var err error
	DB, err = sql.Open("sqlite3", "app.db")
	if err != nil {
		log.Fatalf("✖ Failed to connect to SQLite: %v", err)
	}
	log.Println("✓ Connected to SQLite database")
}

func Close() {
	if DB != nil {
		DB.Close()
		log.Println("🔌 SQLite connection closed")
	}
}
