package handler

import (
	"{{.ModuleName}}/internal/service"

	{{.ImportHandler}}
)

type {{.Entity}}Handler struct {
	Service *service.{{.Entity}}Service
}

func New{{.Entity}}Handler(s *service.{{.Entity}}Service) *{{.Entity}}Handler {
	return &{{.Entity}}Handler{Service: s}
}

func (h *{{.Entity}}Handler) Get{{.Entity}}s({{.FullContext}}) {{.Returnable}}{
	{{.LowerEntity}}s, _ := h.Service.Get{{.Entity}}s()
	{{.ReturnKeyword}} {{.ToTheClient}} {{.LowerEntity}}s)
}
